<launch>

<arg name="bringup" default="false" />  
<include if="$(arg bringup)" file="$(find robot_hardware)/launch/hardware_bringup.launch" />
<node pkg="ml_based_controllers" type="run.sh" name="iwp_controller" output="screen">
    <env name="JULIA_PROJECT" value="$(find ml_based_controllers)/julia" />
    <env name="JULIA_DEPOT_PATH" value="$(find ml_based_controllers)/julia/.julia" />
    <env name="JULIA_NUM_THREADS" value="4" />
</node> 

</launch>