<launch>


<node name="twist_to_torque" pkg="topic_tools" type="relay_field" 
    args="--wait-for-start /twist_to_torque_teleop /theta2_controller/command std_msgs/Float64 'data: m.linear.x'" />

<node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
    <param name="default_topic" value="/twist_to_torque_teleop" />
    <param name="default_vx_max" value="1.0" />
    <param name="default_vx_min" value="-1.0" />
</node>


</launch>